

header {
    background-color:#545454;
    line-height: 100px;
    height: 100px;
    padding: 0 1em;
    color: #fff;

}

nav {
    background-color:#e0e0e0;
}

nav ul {
    padding: 10px 20px;
}


nav ul a li {
    list-style: none;
}

article {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
}